<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>WebSocket With STOMP & SockJS Broadcast Example</title>
<th:block th:include="fragments/common.html :: headerfiles"></th:block>

<script type="text/javascript">
	function sendMsg() {
		var text = $("#js-local-id").html() + " : " + $("#message").val();
		window.opener.onClickSend(text);
		$("#message").val("");
	}

	function getSkyWayId() {
		var path = location.search;
		var remoteId = path.split('=')[1];

		$('#js-remote-id').val(remoteId);
	}

</script>

<link rel="stylesheet" href="./static/_shared/style.css">
</head>
<!--   body onload="window.opener.showFirstMessage()" -->
<body onload="getSkyWayId();">
	<div class="container">

		<p class="meta" id="js-meta" style="display:none"></p>
		<input type="text" placeholder="Remote Peer ID" id="js-remote-id">
		<button id="js-call-trigger">Call</button>
		<!--  button id="js-call-trigger" style="display:none">Call</button -->
		<button id="js-close-trigger">Close</button>
		<BR>
		<video id="js-remote-stream"></video>
		<video id="js-local-stream" style="display: none;"></video>
		<p>
			Your ID: <span id="js-local-id"></span>
		</p>
		<div class="row">
			<div class="col-md-6">
				<div class="mb-3">
					<div class="input-group" id="sendmessage">
						<input type="text" id="message" class="form-control"
							placeholder="Message">
						<div class="input-group-append">
							<button id="send" class="btn btn-primary" onclick="sendMsg();">Send</button>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div id="content"></div>
				<div>
					<span class="float-right">
						<button id="clear" class="btn btn-primary"
							onclick="clearMessages()" style="display: none;">Clear</button>
					</span>
				</div>
				<div id="response"></div>
			</div>
		</div>
	</div>

	<footer th:insert="fragments/common.html :: footer"></footer>
	<script src="//cdn.webrtc.ecl.ntt.com/skyway-4.4.1.js"></script>
	<script th:src="@{/_shared/key.js}"></script>
	<script th:src="@{/js/webrtc_script.js?20210516}"></script>
</body>
</html>